/* General */
html{
    font-size: 62.5%;
}
body{
    font-family: 'PT Sans';
    font-size: 2rem;
    line-height: 1.8;
}
:root{
    --font-color-white: #fff;
    --font-color-black: rgb(0, 0, 0);
    --background-color: #252529;
    --btn-color-primary: #b90415;
    --btn-color-secondary: #103063;

}
.container{
    max-width: 1180px;
   
}
/* Animations */
.sacle-up{
    transform: scale(1);
    transition: all 0.3s;
}
.sacle-up:hover{
    transform: scale(1.1);
}
/* Button */

.btn{
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 1.5rem;
    padding: 1.5rem;
    
}

.btn--primary{
    background-color: var(--btn-color-primary);
    color: white;
   
}
.btn--secondary{
    background-color: var(--btn-color-secondary);
    color: white;
}

@media screen and (min-width: 746px) {
    .btn{
        font-size: 1.7rem;
    }
}
/* images */
.block__image{
    width: 100%;
}

/*   links  */
.link{
    text-decoration: none;
  
    
}
/* Blocks */

.block{
    padding: 3rem;
    text-align: center;
    margin: auto;
}

.block--dark{
    background-color: rgb(40, 41, 39);
    color: white;
}
.block--gray{
    background-color: rgb(33, 35, 36);
    color: white;
}
.text--center{
    text-align: center;
}
.text--left{
    text-align: left;
}

.block__heading{
    font-size: 2.6rem;
}
.block--primary{
color: var(--font-color-white);
}
.block--secondary{
    color: var(--font-color-black);
}

.block__text{
font-size: 1.5rem;
}

.block__text:last-of-type{
    padding-bottom: 2rem;
    border-bottom: 0.4px solid rgb(82, 82, 82);
}
@media screen and (min-width: 746px) {
    .block__heading{
        font-size: 2.2rem;
    }
    .block__text{
        font-size: 1.5rem
    }
}

/* Grid */
.grid{
    padding: 4rem;
   display: grid;
    
}
.grid img{
    width: 100%;
}
/*.grid__img{
background-image: url("/images/cards.png");


background-size: contain;
background-repeat:no-repeat;


} */

@media screen and (min-width: 700px) {
    .grid{ 
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }
    .grid__img{
        background-position: 0;
    }
}

/* menu */
.menu{
    position: fixed;
    display: inline-block;
    width: 100%;
    z-index: 1000;
    
}
.menu .list__item:hover{
    cursor: pointer;
    color: rgb(197, 197, 197);
    
}
.menu li:nth-of-type(n+2){
display: none;

}
.menu .icon{
    position: absolute;
    right: 0rem;
    top: 1rem;
display: inline-block;

}
@media screen and (min-width: 580px) {
    .menu li:nth-of-type(n+2){
        display: block;
        }
      .menu .icon{
          display: none;
      }
}
/* list */

.list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.list-inline{
display: flex;

}
.list li{
   margin: 0.5rem;
}
.list--black{
    background-color: rgb(71, 71, 71);
    color: white;
}

@media screen and (min-width: 580px) {
    .list li{
        margin-left: 6rem;
     }
     .list li:first-of-type{
         margin-left: 2rem;
     }
}


/* icon */

.icon{
    width: 20px;
    height: 20px;
   display: inline-block;
   transition: transform 0.2s;
}


/* collapsible */
.collapsible--expanded .list li:nth-of-type(n+2){
    display: block;
}
.collapsible--expanded .list{
    
    flex-direction: column;
}
.collapsible--expanded .icon{
    transform: rotate(90deg);
    right: 0.5rem;
}

@media screen and (min-width: 580px) {
    .menu .list{
        flex-direction: row;
    }
  }


  /* Showcase heading */
  .showcase-block{
      
      background: url("/images/showcase@2x.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      height: 50vh;
      display: flex;
   
      
  }
  .showcase-block h2{
      margin-top: -3rem;
      font-size: 2.6rem;
      box-shadow: 0 0 10rem 4rem black;
  }
  .showcase-block h1{
      font-size: 4.6rem;
  }
  .showcase-block p{
      display: none;
  }
  .showcase__heading{
      text-align: center;
      color: white;
      font-size: 3rem;
  }

  @media screen and (min-width: 750px) {
      .showcase-block{
          height: 100vh;
          
      }
      .showcase-block h1{
        
        font-size: 5.9rem;
    }
      .showcase-block h2{
        
        font-size: 3rem;
    }
    .showcase-block p{
        display: block;
    }
  }

  /* Trial-block */
 .trial-block h2{
     font-size: 4.3rem;
     margin-top: 0;
 }
 .trial-block h3{
    font-size: 3.5rem;
    
}
.trial-block__caption{
    
font-size: 1.5rem;
margin-top: 3rem;
}


/* Entertainment block */

.entertainment-block{
    background: url(/images/entertainment.jpeg);
    background-size:cover;
    background-position: bottom;
    background-repeat:no-repeat;
    padding: 10rem 0;
}

/* card block */
.card-block{
    margin: auto;
    transition: all 0.3s;
}
.card-block a{
    color: rgb(75, 75, 75);
    font-size: 1.7rem;
}

/* footer */
.footer{
    display: none;
}
.copy-right{
    font-size: 1.4rem;
    text-align: center;
    padding: 0.3rem;
    background-color: #333;
}

@media screen and (min-width: 700px){
  
    .footer{
        display: flex;
        justify-content:space-evenly;
        text-align: left;
        margin: auto;
    }
    .footer__list{
      width: 250px;
    }
    .footer ul{
        list-style: none;
        
    }
    .footer li{
        margin-bottom: -1rem;
    }
    .footer li:first-of-type{
        border-bottom: 1px solid rgba(172, 172, 172, 0.363);
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }
    .footer__link{
        color: rgb(185, 185, 185);
        font-size: 1.5rem;
        
    }
}