<section class="block block--dark entertainment-block">
  <div class="container block">
    <h2>A world of entertainment. Available wherever you are.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam
      nobis, nisi ut expedita, doloribus reprehenderit explicabo non velit
      repellat alias saepe inventore repellendus? Molestias suscipit eos
      tempora? Quae quaerat cumque in veritatis impedit dolorum sapiente
      recusandae minima quo aperiam quam, excepturi quasi totam ad quas? Ipsam
      laudantium soluta delectus!
    </p>
  </div>
</section>
