<section class="block--dark">
  <div class="container footer">
    <div class="footer__list">
      <ul>
        <li>Shop & Learn</li>
        <li><a class="link footer__link" href="#">Music</a></li>
        <li><a class="link footer__link" href="#">movies</a></li>
        <li><a class="link footer__link" href="#">Shows</a></li>
        <li><a class="link footer__link" href="#">Apps</a></li>
        <li><a class="link footer__link" href="#">Gift Cards</a></li>
      </ul>
    </div>
    <div class="footer__list">
      <ul>
        <li>Orange Store</li>
        <li><a class="link footer__link" href="#">Find a Store</a></li>
        <li><a class="link footer__link" href="#">Today at Orange</a></li>
        <li><a class="link footer__link" href="#">Orange Camp</a></li>
        <li><a class="link footer__link" href="#">Financing</a></li>
        <li><a class="link footer__link" href="#">Order Status</a></li>
      </ul>
    </div>
    <div class="footer__list">
      <ul>
        <li>Education & Business</li>
        <li><a class="link footer__link" href="#">Music</a></li>
        <li><a class="link footer__link" href="#">movies</a></li>
        <li><a class="link footer__link" href="#">Shows</a></li>
        <li><a class="link footer__link" href="#">Apps</a></li>
        <li><a class="link footer__link" href="#">Gift Cards</a></li>
      </ul>
    </div>
    <div class="footer__list">
      <ul>
        <li>About Orange</li>
        <li><a class="link footer__link" href="#">Newsroom</a></li>
        <li><a class="link footer__link" href="#">Orange Leadership</a></li>
        <li><a class="link footer__link" href="#">Investors</a></li>
        <li><a class="link footer__link" href="#">Events</a></li>
        <li><a class="link footer__link" href="#">Contact Orange</a></li>
      </ul>
    </div>
  </div>
  <div class="copy-right">
    <p>Copyright &copy; 2022 Orange myTunes</p>
  </div>
</section>
