<div class="container">
  <div class="grid">
    <img src="/images/cards.png" alt="" />
    <div class="block secondary text--left">
      <h2 class="block__heading">Gift Cards</h2>
      <p class="block__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et labore
        voluptas, sapiente ullam ipsam quas amet harum veniam mollitia, dolorem
        doloribus optio, soluta similique ducimus. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Eos minima iure ipsa possimus laboriosam
        enim esse ex nostrum quas ullam dicta pariatur veniam qui, quod
        doloribus facere rerum mollitia modi!
      </p>
    </div>
  </div>
</div>
