<section class="block read-block">
  <div class="container block">
    <h2>The movie and TV collection you always wished for. Granted.</h2>
    <p>
      With over 100,000 movies and TV shows to choose from, there’s always
      something great to watch on myTunes and if you watch on Orange TV 4K,
      you’ll be able to enjoy a tremendous selection of your favorite content in
      4K HDR. So get ready to enjoy episodes of your favorite TV shows or hit
      movies you’ve been waiting to see — anytime, anywhere. Just tap to play,
      or even download if you’re going somewhere you won’t have Wi-Fi.
    </p>
    <a href="#" class="btn btn--secondary">Read More</a>
    <img class="block__image" src="/images/mockup2.png" alt="" />
  </div>
</section>
